.bigContainerCol {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
}
.bigContainerRow {
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
}

/* Common container styles */
.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--blanc);
  z-index: 10;
  position: absolute;
  top: 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.listMenu li {
  margin-bottom: 0;
}
/* Menu styles */
.menuHr {
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 10px;
  top: 20px;
  right: 20px;
}

.purpleHr {
  background-color: var(--violet);
  margin-bottom: 10px;
  height: 4px;
}

/* --------------------------------------- */

.containerTitre {
  margin-left: 37px;
}

.title {
  font-family: var(--font-roboto-mono);
  font-size: 4.5vw;
  color: var(--blanc);
  font-weight: 300;
}

.subtitle {
  font-family: var(--font-roboto-mono);
  font-size: 2vw;
  color: var(--violet);
}

.yellowHr {
  border-top: 7px solid var(--jaune);
  background-color: var(--jaune);
  width: 34vw;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.triangularDiv {
  width: 60vw; /* Largeur du triangle */
  height: 20vw; /* Hauteur du triangle */
  background-color: var(--jaune); /* Couleur de fond */
  clip-path: polygon(
    0% 0%,
    100% 100%,
    100% 0%
  ); /* Définition de la forme du triangle */
  position: absolute; /* Position absolue par rapport à son parent */
  top: 0;
  right: 0;
  z-index: 2; /* Indice de profondeur pour le positionnement z */
}

/* ----/---- */

.containerMenu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  margin-top: 2.125vh;
  margin-right: 3.5vw;
}

.listMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 5vh;
  gap: 1.5vw;
}

.itemMenu {
  width: 13.1vw;
  text-align: center;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.violetMenu h2 {
  color: var(--violet);
}

.orangeMenu h2 {
  color: var(--orange);
}

.violetMenu {
  background-color: var(--violet);
}

.orangeMenu {
  background-color: var(--orange);
}

.aPropos {
  grid-column: span 2;
  grid-row: span 2;
  grid-column-start: 2;
}

.contact {
  grid-column: span 1;
}

.github {
  grid-column: span 1;
  grid-column-start: 3;
}

.jauneBackgroundMenu,
.orangeBackgroundMenu,
.violetBackgroundMenu {
  height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jauneBackgroundMenu {
  background-color: var(--jaune);
}

.orangeBackgroundMenu {
  background-color: var(--orange);
  cursor: pointer;
}

.orangeBackgroundMenu:hover {
  background-color: var(--orangeFonce);
  cursor: pointer;
}
.violetBackgroundMenu {
  background-color: var(--violet);
  cursor: pointer;
}
.violetBackgroundMenu:hover {
  background-color: var(--violetFonce);
  cursor: pointer;
}

/* Tablet and small tablet CSS */

@media (min-width: 462px) and (max-width: 768px) {
  .containerTitre {
    margin-left: 15px;
  }

  .title {
    font-size: 36px;
    color: var(--blanc);
  }

  .subtitle {
    font-size: 20px;
    color: var(--violet);
  }

  .yellowHr {
    border-top: 2px solid var(--jaune);
    background-color: var(--jaune);
    width: 270px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  .triangularDiv {
    border-left: 250px solid transparent;
    border-top: 250px solid var(--jaune); /* Hauteur du triangle */
    position: absolute;
    align-self: flex-end;
  }
  .item {
    width: 233px;
    text-align: center;
  }

  .item h2 {
    font-size: 4vw !important;
  }
  .violetBackground h2 {
    color: var(--blanc);
  }
  .jauneBackground,
  .orangeBackground,
  .violetBackground {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jauneBackground {
    background-color: var(--jaune);
  }

  .orangeBackground {
    background-color: var(--orange);
  }

  .violetBackground {
    background-color: var(--violet);
  }

  /* Specific adjustments for small tablets */
  @media (max-width: 520px) {
    .triangularDiv {
      border-left: 200px solid transparent;
      border-top: 200px solid var(--jaune); /* Hauteur du triangle */
    }
  }
}

/* Mobile CSS */

@media (max-width: 462px) {
  .containerTitre {
    margin-left: 9px;
  }

  .title {
    font-size: 24px;
    color: var(--blanc);
  }

  .subtitle {
    font-size: 14px;
    color: var(--violet);
  }

  .yellowHr {
    border-top: 1px solid var(--jaune);
    background-color: var(--jaune);
    width: 204px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  .triangularDiv {
    border-left: 180px solid transparent;
    border-top: 180px solid var(--jaune); /* Hauteur du triangle */
    position: absolute;
    align-self: flex-end;
  }

  .item {
    width: 233px;
    margin: 0 71px;
    text-align: center;
  }
  .item h2 {
    font-size: 4vw !important;
  }
  .jauneBackground {
    background-color: var(--jaune);
    margin-block: 25px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orangeBackground {
    background-color: var(--orange);
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .violetBackground {
    background-color: var(--violet);
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .violetBackground h2 {
    color: var(--blanc);
  }
}
