/* CSS PAGE PRINCIPALE */

/* General Styles */
.errorMsg {
  color: red;
}
.fleche {
  position: fixed;
  z-index: 1000;
  left: 90vw;
  top: 80vh;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  z-index: 1001;
}

/* Module Container */
.moduleContainer {
  position: relative;
  margin-bottom: 2.22vh;
}

.titreJaune,
.titreOrange {
  position: absolute;
  top: 0;
  left: 9.47vw;
  width: 14vw;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.titreJaune {
  background-color: var(--jaune);
}

.titreJaune h2 {
  color: var(--violet);
  font-weight: 400;
  font-size: 1.5vw;
}

.titreOrange {
  background-color: var(--orange);
}

.titreOrange h2 {
  color: var(--blanc);
  font-weight: 400;
  font-size: 1.5vw;
}

/* Content Styles */
.contenuViolet,
.contenuJaune {
  position: relative;
  margin: 2vh 20vw 0px 20.14vw;
  padding-top: 5vh;
  width: 100%;
}

.contenuViolet {
  background-color: var(--violet);
}

.contenuJaune {
  background-color: var(--jaune);
}

.contenuViolet p,
.contenuJaune p {
  color: var(--blanc);
  font-family: var(--font-roboto-mono);
  font-size: 1.2vw;
  font-weight: 400;
  margin-inline: 5.85vw;
  padding: 4.89vh 0 9.89vh;
}

/* Competence Module */
.competencesModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.678vw;
}

.competencesModule h2 {
  color: var(--violet);
  font-size: 2.157vw;
}

.competenceSection {
  margin: 0 1.505vw 0 2.373vw;
  padding: 1.273vw;
}

.jauge {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.694vw;
}

.jauge h3 {
  color: var(--violet);
  font-size: 1.3vw;
}

.barreFond {
  background-color: var(--orange);
  height: 1vw;
  width: 52vw;
  border-radius: 50px;
}

.barreRemplie {
  background-color: var(--violet);
  height: 1vw;
  border-radius: 2.894vw;
  transform-origin: left;
  animation: yoyo 1s linear !important;
}
.barreRemplie:hover {
  animation: yoyo 1s linear !important;
}

@keyframes yoyo {
  0% {
    transform: scaleX(0.4);
  }
  40% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Portfolio */
.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3.877vw 3.414vw;
  justify-content: center;
  align-items: center;
  margin: 1.563vw;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.086vw;
  height: 9.086vw;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
}
.portfolio:hover {
  background-color: var(--orangeFonce);
}
.portfolio h2 {
  color: var(--blanc);
}
/* About */
.largeHeight {
  transition: 1s;
  height: 12vw;
}
.smallHeight {
  transition: 1s;
  height: 7vw;
}

.aboutTitre {
  background-color: var(--orange);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 8.958vw;
  border-radius: 2.604vw;
  margin-top: 0.521vw;
}
.aboutTitre:hover {
  background-color: var(--orangeFonce);
}

.aboutTitre h2 {
  font-size: 2.5vw;
  color: var(--blanc);
  font-weight: 400;
}

.about {
  margin-top: 1vw;
}

.about p {
  font-size: 1.2vw;
  color: var(--violet);
  font-weight: 500;
  padding: 2svw !important;
}

/* Contact */

.oval {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: var(--orange);
  border-radius: 50%; /* Pour rendre l'élément ovale */
}
.oval1 {
  width: 50vw;
  height: 70vh;
  border-width: 2vw;
}

.oval2 {
  width: 44vw;
  height: 61vh;
  border-width: 0.5vw;
}
.oval3 {
  width: 42vw;
  height: 58vh;
  border-width: 2vw;
}
.oval4 {
  width: 35vw;
  height: 48vh;
  border-width: 0.5vw;
}

.contactTitle {
  color: var(--blanc);
  font-size: 2.2vw;
  text-align: center;
  margin-top: 43px;
}

.visible {
  visibility: visible;
  height: 100%;
  transition: 2s;
  animation: fadeIn 1s linear;
}
.hidden {
  display: none;
  height: 0px;
  animation: fadeOut 1s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.OvalText {
  color: var(--blanc);
  display: flex;
  flex-direction: column;
  justify-content: "center";
  align-items: center;
}
.OvalText h2 {
  color: var(--blanc);
}
.contactTitle {
  color: var(--blanc);
  font-size: 2vw;
  text-align: center;
  margin-top: 43px;
}
.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vh;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .moduleContainer {
    margin-bottom: 20px;
  }

  .titreJaune,
  .titreOrange {
    left: 9px;
    width: 109px;
    height: 36px;
  }

  .titreJaune h2,
  .titreOrange h2 {
    font-size: 16px;
  }

  .contenuViolet,
  .contenuJaune {
    margin: 18px 26px 0 41px;
    padding-top: 18px;
  }

  .contenuViolet p,
  .contenuJaune p {
    font-size: 2.5vw;
    margin-inline: 46px;
    padding: 26px 0 44px;
  }

  .competencesModule {
    margin-bottom: 29px;
  }

  .competencesModule h2 {
    font-size: 20px;
  }

  .competenceSection {
    margin: 0;
    padding: 22px;
  }

  .jauge {
    margin-bottom: 12px;
  }

  .jauge h3 {
    font-size: 14px;
  }

  .barreFond,
  .barreRemplie {
    height: 10px;
    width: 65vw;
  }

  .portfolioContainer {
    grid-gap: 67px 59px;
    margin: 27px;
  }

  .portfolio {
    width: 157px;
    height: 157px;
  }

  /* About */

  .largeHeight {
    transition: 1s;
    height: 20vw;
  }
  .smallHeight {
    transition: 1s;
    height: 10vw;
  }

  .aboutTitre {
    margin-inline: 27px;
    border-radius: 4px;
    margin-top: 10px;
  }

  .aboutTitre h2 {
    font-size: 20px;
  }

  .about p {
    font-size: 14px;
  }

  /* Contact */
  /* Oval */

  .oval {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--orange);
    border-radius: 50%; /* Pour rendre l'élément ovale */
  }

  .oval1 {
    width: 80vw;
    height: 50vh;
    border-width: 2vw;
  }

  .oval2 {
    width: 74vw;
    height: 45vh;
    border-width: 0.5vw;
  }
  .oval3 {
    width: 72vw;
    height: 42vh;
    border-width: 2vw;
  }
  .oval4 {
    width: 65vw;
    height: 36vh;
    border-width: 0.5vw;
  }

  .contactTitle {
    font-size: 20px;
  }
}

@media (max-width: 462px) {
  .titreJaune h2,
  .titreOrange h2 {
    font-size: 14px;
  }

  .contenuViolet p,
  .contenuJaune p {
    font-size: 4vw;
    margin-inline: 36px;
  }

  .competencesModule h2 {
    font-size: 18px;
  }

  .portfolio {
    width: 97px;
    height: 97px;
  }

  /* About */
  .largeHeight {
    transition: 1s;
    height: 20vw;
  }
  .smallHeight {
    transition: 1s;
    height: 10vw;
  }

  .aboutTitre h2 {
    font-size: 14px;
  }

  .about p {
    font-size: 12px;
    padding-bottom: 20px;
  }

  /* Contact */
  /* Oval */

  .oval {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--orange);
    border-radius: 50%; /* Pour rendre l'élément ovale */
  }

  .oval1 {
    width: 80vw;
    height: 30vh;
    border-width: 2vw;
  }

  .oval2 {
    width: 74vw;
    height: 27vh;
    border-width: 0.5vw;
  }
  .oval3 {
    width: 72vw;
    height: 25vh;
    border-width: 2vw;
  }
  .oval4 {
    width: 65vw;
    height: 22vh;
    border-width: 0.5vw;
  }
  .OvalText {
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: "center";
    align-items: center;
  }
  .OvalText h2 {
    color: var(--blanc);
  }

  .contactTitle {
    color: var(--blanc);
    font-size: 20px !important;
    text-align: center;
    margin-top: 43px;
  }
  .fleche {
    left: 86vw;
  }
}
