.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  background: var(--blanc);
  color: var(--violet);
  font-family: var(--font-league-spartan);
}

.title {
  text-align: center;
  font-size: 2vw;
  color: var(--orange);
}

.date {
  text-align: center;
  font-size: 1vw;
  color: var(--violetFonce);
}

.link {
  color: var(--orangeFonce);
  text-decoration: underline;
}

.link:hover {
  color: var(--orange);
}

.footer {
  text-align: center;
  font-size: 1vw;
  margin-top: 30px;
}
